@charset "UTF-8";
/* CSS Document */


h1{
    text-align: center;
}

.search-box {
    padding-right: 15px;
    font-family: "Helvetica Neue", "sans-serif";
}

a{
    text-decoration: none;
}

img{
    padding-bottom: 15px;
    padding-right: 15px;
}
